# ██╗  ██╗██╗██╗  ██╗███████╗   ██╗    ██╗████████╗███████╗
# ██║ ██╔╝██║██║ ██╔╝██╔════╝   ██║    ██║╚══██╔══╝██╔════╝
# █████╔╝ ██║█████╔╝ █████╗     ██║ █╗ ██║   ██║   █████╗  
# ██╔═██╗ ██║██╔═██╗ ██╔══╝     ██║███╗██║   ██║   ██╔══╝  
# ██║  ██╗██║██║  ██╗███████╗██╗╚███╔███╔╝   ██║   ██║     
# ╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝ ╚══╝╚══╝    ╚═╝   ╚═╝     
#                                                 .htaccess

# No Directory Index
Options All -Indexes

# Header X-Powered-By
Header always set X-Powered-By: Kike!

# Force No-WWW
RewriteCond %{HTTP_HOST} ^www\.example\.com [NC]
RewriteRule ^(.*)$ http://example.com/ [L,R=301]

# ===== HOSTING =====

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:kike.wtf
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:kike.wtf

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:kike.wtf
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?kike.wtf
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:kike.wtf
